CRUD on AD/TestENV/xml/xsdcontrole.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="user">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="body">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="firstname">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,32}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="lastname">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]{1,32}" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="email">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="[_\-a-zA-Z0-9\.\+]+@[a-zA-Z0-9]+(\.[\-a-zA-Z0-9]*[a-zA-Z0-9])+" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="role">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:pattern value="(student|docent|admin)" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="operation">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:pattern value="(CREATE|UPDATE|DELETE)" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
